body{
    margin: 0;
}

.menu a{
    padding: 2em 1em;
    display: block;
    color: white;
    border-right: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
a:hover{
    background-color: red;
    display: inline-block;
}


div.black{
    padding: 10px;
    text-align: center;
    line-height: 5px;
    word-spacing: 10px;
    margin: auto;
    width: 1250px;
}
ul li{
    list-style-type: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 12px;

}
header{
    display: block;
    padding-top: 50px;
    background-color: beige;
}




div.All{
height: 50%;
}
